@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(38, 115, 16);
  font-family: Helvetica, sans-serif, sans-serif;
}

.card {
  border: 1px solid #000;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background-color: white;
  position: relative;
}

.palo {
  font-size: 6em;
  padding: 0px;
}

.top-left {
  margin-top: 0; /* Ajuste para acercar a la esquina */
  margin-left: 0; /* Ajuste para acercar a la esquina */
  justify-content: first baseline;
}

.bottom-right {
  bottom: 0; /* Ajuste para acercar a la esquina */
  right: 0; /* Ajuste para acercar a la esquina */
  transform: rotate(180deg);
}

.numero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
}

.spade {
  color: black;
}

.club {
  color: black;
}

.heart {
  color: red;
}

.diamond {
  color: red;
}
