@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  width: 150px;
  height: 200px;
  background-color: white;
  position: relative;
}

.palo {
  font-size: 2em;
}

.top-left {
  top: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

.spade {
  color: black;
}

.club {
  color: black;
}

.heart {
  color: red;
}

.diamond {
  color: red;
}
