@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(38, 115, 16);
  font-family: Helvetica, sans-serif;
}

.card {
  border: 1px solid #000;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background-color: white;
  position: relative;
}

.palo {
  font-size: 6em;
  padding: 0px;
  position: absolute; /* Añadir para posicionar de manera absoluta */
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.numero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
}

.spade,
.club {
  color: black;
}

.heart,
.diamond {
  color: red;
}
